#!/bin/bash
cd /var/www/html/OGNRANGE
day=`date "+%a"`
DMY=`date "+%x"`
now=`date "+%R"`
hn=`hostname   `
taken=$day"_"$DMY"_"$now

{
bash optim.sh
date
} | mutt  -s $hn" REPOOGN OGNRANGE DB cleanup .... "$taken -- yourname@yourserver.es
bash sh/OGNrangecheck.sh  &
cd
